rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /usuarios/{userId} {
      allow read, write: if true;
    }
    match /cotizaciones/{docId} {
      allow read, write: if true;
    }
    match /catalogoBundles/{docId} {
      allow read, write: if true;
    }
    match /catalogoPrincipal/{docId} {
      allow read, write: if true;
    }
    match /catalogoEnvios/{docId} {
      allow read, write: if true;
    }
    match /catalogoMeta/{docId} {
      allow read, write: if true;
    }
    match /catalogoArticulos/{docId} {
      allow read, write: if true;
    }
    match /canales/{docId} {
      allow read, write: if true;
    }
    match /presencia/{docId} {
      allow read, write: if true;
    }
    match /killers/{docId} {
      allow read, write: if true;
    }
    match /apoyoMarca/{docId} {
      allow read, write: if true;
    }
    match /sitiosBusqueda/{docId} {
      allow read, write: if true;
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
